.cart-name {
  color: black;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

.cart-price {
  font-weight: 900;
  text-align: center;
}

.cart-total {
  font-weight: 900;
}

.cart-description {
  font-weight: 700;
  text-align: center;
}

.cart-amount {
  font-weight: 700;
  display: block;
  text-align: center;
}

.cart-btn {
  text-align: center;
  margin: 10px 0 20px 0;
}

.cart-img {
  text-align: center;
}

.block-cart {
  margin: 0 0 30px 0;
  border: 2px solid #c1cad4;
  max-width: 350px;
}

.checkout {
  margin: 0 20px 0 0;
}

@media (max-width: 450px) {
  .checkout {
    display: block;
    margin: 0 0 20px 0;
  }
}
