.link {
	white-space: nowrap;
	@media (max-width: 768px) {
		margin-bottom: 20px;
		display: inline-flex;
	}
}

.select-product {
	@media (max-width: 520px) {
		font-size: 20px;
	}
}

.order-name {
	color: black;
	font-size: 17px;
	font-weight: 700;
	text-align: center;
}

.order-total {
	font-weight: 900;
	margin-left: 30px;
}

.order-price {
	font-weight: 900;
	margin-left: 30px;
	text-align: center;
}

.order-description {
	font-weight: 700;
	margin-left: 30px;
	text-align: center;
}

.order-amount {
	font-weight: 700;
	display: block;
	margin-left: 30px;
	text-align: center;
}

.block-my-order {
	margin: 0 0 30px 0;
	border: 2px solid rgb(193, 202, 212);
	max-width: 350px;
}

.img-order {
	text-align: center;
}
