<div class="container">

	<ul class="block-link">
		<li routerLinkActive="active">
			<a class="py-2  d-md-inline-block link" [routerLink]="['/admin', 'dashboard']">На главную</a>
		</li>
	</ul>

	<div *ngIf="orders.length; else loading">
		<table class="table table-hover table-bordered table-responsive">
			<thead>
				<tr>
					<th>Имя заказчика</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor='let order of orders'>
					<td>{{ order["client"].firstName }} {{ order["client"].lastName }}</td>
					<td>
						<button class="btn-primary btn open-order" [routerLink]="['/admin', 'orders', order.id, 'edit']">
							Открыть
						</button>
						<button class="btn-primary btn delete-order" (click)="remove(order.id)"
							(click)="removeItemOrder()">Удалить</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal-dialog" *ngIf="textDeleteOrder">
		<div class="modal-body" [ngClass]="{
			'order-delete':orderDelete === 'orderDelete'
		}">
			<p>{{ textDeleteOrder }}</p>
		</div>
	</div>

</div>


<ng-template #loading>
	<h4 class="text-center">Нет созданных заказов</h4>
</ng-template>