<div class="container">
  <li routerLinkActive="active">
    <a
      class="py-2 d-md-inline-block link"
      [routerLink]="['/admin', 'shared-category']"
      >Назад</a
    >
  </li>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <h4 class="create-category">Создание новой категории</h4>

    <div
      class="form-control form-group"
      [ngClass]="{ invalid: name().invalid && name().touched }"
    >
      <label for="name">Название категории:</label>
      <input
        class="form-control"
        id="name"
        type="text"
        formControlName="name"
      />
      <div
        *ngIf="name().invalid && (name().touched || name().dirty)"
        class="validation"
      >
        <small class="form-text text-muted" *ngIf="name().errors?.required"
          >Введите название категории</small
        >
      </div>
    </div>

    <div
      class="form-control form-group"
      [ngClass]="{ invalid: description().invalid && description().touched }"
    >
      <label for="description">Описание категории:</label>
      <input
        class="form-control"
        id="description"
        type="text"
        formControlName="description"
      />
      <div
        *ngIf="
          description().invalid &&
          (description().touched || description().dirty)
        "
        class="validation"
      >
        <small
          class="form-text text-muted"
          *ngIf="description().errors?.required"
          >Введите описание категории</small
        >
      </div>
    </div>

    <button
      type="submit"
      (click)="createCategoryModal()"
      class="btn btn-primary"
      [disabled]="form.invalid"
    >
      Создать категорию
    </button>
  </form>

  <div class="modal-dialog" *ngIf="text">
    <div
      class="modal-body"
      [ngClass]="{
        'alert-success': type === 'success'
      }"
    >
      <p>{{ text }}</p>
    </div>
  </div>
</div>
